body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.small-text {
  font-size: 12px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
}

form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signupbtn {
  background-color: #ac9fbb;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin-top: 20px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.signupbtn:hover {
  background-color: #59656f;
}
